<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>
      Assignment 3rd Question
    </h1>
    <p> <!DOCTYPE html>
      <html lang="en">
      
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>
              <%=title%>
          </title>
      </head>
      
      <body>
          <h1>
            Rendering View 
          </h1>
          <p> 
            A very common feature of web frameworks is the ability to render views. The basic concept is passing your data to a template engine that will render the 
            final view, usually in HTML. In the MVC pattern,your controller uses the model to retrieve the data portion and the view
             template to render the HTML output, as described in the next diagram</p>
      </body>
      
      </html></p>
</body>

</html>